/* =============================================================================
   HTML5 Boilerplate CSS: h5bp.com/css
   ========================================================================== */

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }
audio:not([controls]) { display: none; }
[hidden] { display: none; }

html { font-size: 100%; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }
html, button, input, select, textarea { font-family: sans-serif; color: #222; }
body { margin: 0; font-size: 1em; line-height: 1.4; }

::-moz-selection { background: #f00; color: #fff; text-shadow: none; }
::selection { background: #f00; color: #fff; text-shadow: none; }

a { color: #f00; text-decoration: none;}
a:visited { color: #f22; }
a:hover { color: #f60; }
a:focus { outline: thin dotted; }
a:hover, a:active { outline: 0; }

abbr[title] { border-bottom: 1px dotted; }
b, strong { font-weight: bold; }
blockquote { margin: 1em 40px; }
dfn { font-style: italic; }
hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }
ins { background: #ff9; color: #000; text-decoration: none; }
mark { background: #ff0; color: #000; font-style: italic; font-weight: bold; }
pre, code, kbd, samp { font-family: monospace, serif; _font-family: 'courier new', monospace; font-size: 1em; }
pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }
q { quotes: none; }
q:before, q:after { content: ""; content: none; }
small { font-size: 85%; }

sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }

ul, ol { margin: 1em 0; padding: 0 0 0 40px; }
dd { margin: 0 0 0 40px; }
nav ul, nav ol { list-style: none; list-style-image: none; margin: 0; padding: 0; }

img { border: 0; -ms-interpolation-mode: bicubic; vertical-align: middle; }

svg:not(:root) { overflow: hidden; }

figure { margin: 0; }

form { margin: 0; }
fieldset { border: 0; margin: 0; padding: 0; }
label { cursor: pointer; }
legend { border: 0; *margin-left: -7px; padding: 0; white-space: normal; }
button, input, select, textarea { font-size: 100%; margin: 0; vertical-align: baseline; *vertical-align: middle; }
button, input { line-height: normal; }
button, input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; -webkit-appearance: button; *overflow: visible; }
button[disabled], input[disabled] { cursor: default; }
input[type="checkbox"], input[type="radio"] { box-sizing: border-box; padding: 0; *width: 13px; *height: 13px; }
input[type="search"] { -webkit-appearance: textfield; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }
input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button { -webkit-appearance: none; }
button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }
textarea { overflow: auto; vertical-align: top; resize: vertical; }
input:valid, textarea:valid {  }
input:invalid, textarea:invalid { background-color: #f0dddd; }

table { border-collapse: collapse; border-spacing: 0; }
td { vertical-align: top; }

.chromeframe { margin: 0.2em 0; background: #ccc; color: black; padding: 0.2em 0; }



/* ===== Primary Styles ========================================================
   Author:
   ========================================================================== */



html,
body {
  background-color: #666;
  margin: 0;
  padding: 0;
}

.content {
  margin: 0 auto;
  width: 95%;
}
h1, h2, h3 {
   font-family: 'BebasNeueRegular', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  clear: both;
  display: block;
  margin: 0;
  text-align: center;
}
h2 {
  background-color: #ddd;
  padding: 8px 0;
}
small { font-size: 75%; }

header{
  background-color: #fff;
}

header,
section {
  padding: 0 1em 1em 1em;
}

header {
  padding-top: 2em;
}
header div h1 {
  background-image: url('img/sprite.png');
  background-repeat: no-repeat;
  background-position: 0 -600px;
  padding-left: 60px;
}
footer {
  color: #bbb;
  font-size: 0.8em;
  line-height: 1.2em;
  padding: 2em 0;
  text-shadow: 0 1px 0 #555;
}
  footer a { color: #ddd; text-decoration: underline;}
  footer a:visited { color: #ccc; }
  footer a:hover { color: #fff; }

  footer h1 {
    font-size: 1.8em;
    font-weight: normal;
    margin: 1em 0 0.3em;
    text-align: left;
  }

  footer p {
    margin: 4px 0;
  }

  footer .copyright {
    background-image: url('img/sprite.png');
    background-repeat: no-repeat;
    background-position: 0 -615px;
    display: block;
    float: left;
    padding-left: 145px;
  }
  
  footer .social { float: right; }

.status {
  background-image: url('img/sprite.png');
  background-repeat: no-repeat;
  display: block;
  text-indent: -9999px;
}

.main_status {
  margin: 40px auto;
  height: 85px;
  width: 220px;
}
em.no { background-position: 0 17px; }
em.yes { background-position: 0 -141px; }
em.maybe { background-position: 0 -285px; }

#content {
  background-color: #ededed;
}
section ol {
  list-style-type: none;
  padding: 20px 0;
  text-align: center;
}
  section ol li {
    font-size: 80%;
    display: inline-block;
    margin: 0 10px;
    width: 70px;
  }
  section ol li span {
    display: block;
  }
  section ol li .status {
    height: 25px;
  }
  section ol li .no,
  section ul li.no {
    background-position: 2px -450px;
  }
  section ol li .yes,
  section ul li.yes {
    background-position: 2px -542px;
  }

section ul {
  list-style-type: none;
  margin: 0 auto;
  padding: 20px 0 0;
  width: 135px;
}
  section ul .status {
    min-height: 25px;
    padding: 5px 0;
  }
  section ul .status em {
    display: none;
  }
  section ul .status,
  section ul .status em span {
    text-indent: 0;
    text-align: right;
  }

  article h3 {
    text-align: center;
  }


/* =============================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 35em) {
	/* Style adjustments for viewports that meet the condition */
  article {
    padding: 0;
    width: 100%;
  }
  #content section {
    float: left;
    padding: 0;
    width: 50%;
  }
}

/* =============================================================================
   Non-Semantic Helper Classes
   ========================================================================== */

.ir { display: block; border: 0; text-indent: -999em; overflow: hidden; background-color: transparent; background-repeat: no-repeat; text-align: left; direction: ltr; *line-height: 0; }
.ir br { display: none; }
.hidden { display: none !important; visibility: hidden; }
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }
.invisible { visibility: hidden; }
.clearfix:before, .clearfix:after,
#content:before, #content:after,
footer .top:before, footer .top:after { content: ""; display: table; }
.clearfix:after,
#content:after,
footer .top:after { clear: both; }
.clearfix,
#content,
footer .top { *zoom: 1; }

/* =============================================================================
   Print Styles
   ========================================================================== */
 
@media print {
  * { background: transparent !important; color: black !important; box-shadow:none !important; text-shadow: none !important; filter:none !important; -ms-filter: none !important; } /* Black prints faster: h5bp.com/s */
  a, a:visited { text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }  /* Don't show links for images, or javascript/internal links */
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; } /* h5bp.com/t */
  tr, img { page-break-inside: avoid; }
  img { max-width: 100% !important; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3 { page-break-after: avoid; }
}
