<div class="top">
    <span class="copyright">&copy; <a href="http://r.ekynoxe.com/barrier" target="_blank">ekynoxe</a> 2012</span>
    <div class="social">
        <a href="https://twitter.com/HamsmithBarrier" class="twitter-follow-button" data-show-count="false">Follow @HamsmithBarrier</a>
        <a href="https://twitter.com/share" class="twitter-share-button" data-via="HamsmithBarrier">Tweet</a>
    </div>
</div>
<h1>Background</h1>
<p>
    The Hammersmith bridge bus lanes feature barriers to prevent HGVs and other heavy vehicles to acces the bridge, as it's not been designed to whisthand the weight.
</p>
<p>
    However, these barriers are broken, out of order, or removed regularly, sometimes posing serious risks to passers by. <a href="http://vimeo.com/37791955" target="_blank">"The barrier strikes back"</a> shows this, where the barrier falls in front of 3 cyclists that were going through the lane. Dangling from a cable inside the tube, the barrier was simply swinging one side to the other, and pedestrians could have been injured as well.
</p>
<p>Fairly recent articles on <a href="http://focustransport2011.blogspot.co.uk/2011/11/calls-to-tackle-bus-drivers-over-bridge.html" target="_blank">Focus transport</a>, the <a href="http://www.bbc.co.uk/news/uk-england-london-15843353" target="_blank">BBC</a> and the <a href="http://www.fulhamchronicle.co.uk/fulham-and-hammersmith-news/2011/11/23/bus-drivers-caught-tearing-down-hammersmith-bridge-safety-barrier-82029-29828153/" target="_blank">Fulham and Hammersmith Chronicle</a> have shown that bus drivers themselves sometimes remove the barriers so they can go over the bridge. They claim it's because the barriers don't work.
<h1>The rationale</h1>
<p>By recording the status of the bus lane barriers when I pass them (it's on my daily commute), I want to have a demonstration of their uselesness, and I want to present this as wastage of public money towards the constant repairs of the barriers.</p>
<p>One can argue that the cyclists mentioned above should not have been in the lane, but frankly, I'd question first the design of the cycle route leading the the South access to the bridge. <a href="http://vimeo.com/35142018" target="_blank">This video</a> Shows the markings indicating cyclists to get on the "shared pavement", for the only purpose to go around the barrier. Doing this is dangerous for both cyclists and pedestrians and could be avoided very easily! A study by the <a href="http://www.richmondlcc.co.uk/2010/11/08/another-veloteer-review-hammersmith-bridge/" target="_blank">Richmond Cycling campaign</a> has shown this for a long time now.</p>
<h1>Solutions</h1>
<p>For the cycle lane design issue, simply shortening the barrier by a feet or two would allow cyclists to pass by (when the barrier works, obviously) while still preventing large vehicles to go through.</p>
<p>A solution to the barrier itself would be to use rising bollards instead of a barrier. Maybe there would be a higher upfront cost, but that would be offset by not spending money on constant repairs. They certainly seem to work well in Manchester: <a href="http://www.youtube.com/watch?v=PRCA8MvedIo" target="_blank">Video 1</a> <a href="http://www.youtube.com/watch?v=jDbLTXfph-c" target="_blank">Video 2</a></p>
<p>That would also fix the cycle lane layout, by allowing cyclist to pass between the bollards, and not have to go on the "shared" pavement</p>

<small>The views and proposed solutions expressed here are solely mine and may not be shared by all. Please feel free to comment on the <a href="https://twitter.com/HamsmithBarrier" target="_blank">Hammersmith barrier twitter account</a>!</small>

<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
