<small>Showing you how the hammersmith bus lane barrier fares on (almost) a daily basis<br/>&copy; <a href="http://r.ekynoxe.com/barrier" target="_blank">ekynoxe</a> 2012</small>
<a href="https://twitter.com/HamsmithBarrier" class="twitter-follow-button" data-show-count="false">Follow @HamsmithBarrier</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
<a href="https://twitter.com/share" class="twitter-share-button" data-via="Ekynoxe">Tweet</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>